/* adding classes dynamically */
*{
    /* margin: 0; */
    /* box-sizing: border-box; */
}
.blue{
    color: blue;
}

.big{
    font-size:2em ;
}



#scrollable{
    position: relative;
    padding: 10px;
    background-color: aqua;
    margin: 1em;
    overflow:auto;
    border: 2px solid black;
    height: 70px;
}