*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#F1F6F5;
    font-family: "Gill Sans", sans-serif;
}

form{
    padding: 12px;
    margin: 10px;
}

img{
    background-repeat: no-repeat;
    width: 8rem;
    height: 200px;
}